thingsplay.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="thingsplay.xsd">
  <xs:element name="ThingsplayConfig">
    <xs:complexType>
      <xs:attribute name="enable" type="xs:boolean" use="required" />
      <xs:attribute name="test" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>